/* Page Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* General Styles */

body {
    background-image: url("imgs/oriental-tiles.png");
}

main {
    background-color: rgba(245, 245, 245, 90%);
    width: 70%;
    margin: 10px auto 10px;
    padding: 2rem 1rem;
    border-radius: 20px;
}

h2,
h3 {
    text-align: center;
    font-weight: 400;
}

/* Top of page */

#title {
    text-align: center;
    font-weight: 500;
    margin-bottom: .5em;
}

#title + p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto 1em; 
    border-radius: 20px;
    box-shadow: 5px 0px 3px;
}

figcaption {
    text-align: center;
    margin-bottom: 1em;
}

/* Rest of page */

hr {
    margin-bottom: 1.5rem;
}

#tribute-info h2 {
    margin-bottom: 1.5rem;
}

ul {
    list-style-position: inside;
    line-height: 1.5em;
}

li {
    margin-bottom: 1em;
}

blockquote > p {
    line-height: 1.5em;
    margin-bottom: 1em;
    font-style: italic;
}

